.ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.li{
    margin-left: 4px;
    margin-right: 4px;
    
    
}

.li:hover{
    transform: scale(1,02);
}
.li:active{
    transform: scale(1,02)
}
