.card{
    border: 5px solid black;
    width: 350px;
    height: 470px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    
}
.card:hover{
    border: 5px solid rgba(96, 6, 241, 0.548);
    width: 360px;
    height: 480px;
    transition: 0.5s;
}
.img{
    border: solid 2px black;
    margin: 4px;
    object-fit: cover;
    height: 250px; 
}

.name{
    color: rgb(0, 58, 247);
    margin-top: -0;
}
.dietTypes{
    color: rgb(0, 58, 247);
    margin-top: -20px;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}