.card{
    border: 5px solid var( --clr-bg);
    background-color: rgba(128, 128, 128, 0.521);
    width: 350px;
    height: 485px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    border-radius: 7%;
    box-sizing: border-box;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    
}
.card:hover{
    border: 5px solid var(--clr-neon);
    width: 370px;
    height: 495px;
    border-radius: 10%;
    transition: 0.5s;
}
.img{
  
    margin-right: 0px;
    object-fit: cover;
    width: 325px;
    height: 250px; 
    border-radius: 10%;
}

.bg-name-diet{
    color: rgb(0, 0, 0);
    margin-top: 0px;
}
.diet{
    color: rgb(255, 255, 255);
    margin-top: 5px;
}
.bg-name-diet p{
    margin-top: 10px;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}