.card{
    border: 5px solid black;
    width: 350px;
    height: 470px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    
}
.img{
    border: solid 2px black;
    margin: 4px;
    object-fit: cover;
    height: 250px; 
}

.name{
    color: rgb(0, 58, 247);
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}